@import 'reset';
@import 'comment_block/comments';
@import '~react-select/dist/react-select';
@import '~react-day-picker/lib/style';

body{
	font-family: arial,sans-serif;
}
.row{
	max-width: 1200px;
	margin: 0 auto;
}

.articleList{
	h3{
		font-weight: bold;
		font-size:20px;
	}
	.article{
		
	}
}

